


/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Removes margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    padding-left: 110px;
    font-size: 28px;
    transition: 0.2s;
    
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  

  /* Set all odd list items to a different color*/
  ul li:nth-child(odd) {
  }
  
  /* Styles the header */
  .header {
    padding: 30px 40px;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: '';
    display: table;
    clear: both;
  }
  
  /* Styles the "Search Bar" */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    padding-left: 20px;
    float: left;
    font-size: 23px;
    border-top-left-radius: 25px 50%;
    border-bottom-left-radius: 25px 50%;
    outline: 0px;
  }
  
  /* Styles the "Add" button */
  .addBtn {
    padding: 15px;
    margin-left: 8rem;
    width: 25%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border-top-right-radius: 25px 50%;
    border-bottom-right-radius: 25px 50%;
  }
  
  @media only screen and (max-width: 600px) {
    ul li {
      padding-left: 40px;
    }
  }